# Exercises for Practice 
## Exercise 01
Why are our best and most experienced employees leaving prematurely? 

The data [available here](https://aniruhil.github.io/avsr/teaching/dataviz/HR_comma_sep.csv) includes information on several current and former employees of an anonymous organization. Fields in the data-set include: 

| Variable | Description |
| :---- | :---- |
| satisfaction_level | = Level of satisfaction (numeric; 0-1) |
| last_evaluation | = Evaluation score of the employee (numeric; 0-1) |
| number_project | = Number of projects completed while at work (numeric) |
| average_monthly_hours | = Average monthly hours spent at the workplace (numeric)  |
| time_spend_company | = Number of years spent in the company (numeric) |
| Work_accident | = Whether the employee had a workplace accident (categorical; 1 = yes or 0 = no) |
| left | = Whether the employee left the workplace or not (categorical; 1 = left or 0 = stayed)  |
| promotion_last_5years | = Whether the employee was promoted in the last five years (categorical; 1 = yes or 0 = no) |
| sales | = Department in which they work (categorical) |
| salary | = Relative level of salary (categorical; low, med, and high) |

(a) Read in the csv-format data-set, naming it `hrdata` and save it in RData format as `hrdata.RData`

In [1]:
library(tidyverse)

read.csv(
    "https://aniruhil.github.io/avsr/teaching/dataviz/HR_comma_sep.csv"
    ) -> hrdata

save(hrdata, file = "data/hrdata.RData")

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

(b) Create new variables that add labels to Work_accident, left, promotion_last_5years, and add these three to `hrdata`.

In [2]:
summary(hrdata)

 satisfaction_level last_evaluation  number_project  average_montly_hours
 Min.   :0.0900     Min.   :0.3600   Min.   :2.000   Min.   : 96.0
 1st Qu.:0.4400     1st Qu.:0.5600   1st Qu.:3.000   1st Qu.:156.0
 Median :0.6400     Median :0.7200   Median :4.000   Median :200.0
 Mean   :0.6128     Mean   :0.7161   Mean   :3.803   Mean   :201.1
 3rd Qu.:0.8200     3rd Qu.:0.8700   3rd Qu.:5.000   3rd Qu.:245.0
 Max.   :1.0000     Max.   :1.0000   Max.   :7.000   Max.   :310.0
 time_spend_company Work_accident         left        promotion_last_5years
 Min.   : 2.000     Min.   :0.0000   Min.   :0.0000   Min.   :0.00000
 1st Qu.: 3.000     1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.00000
 Median : 3.000     Median :0.0000   Median :0.0000   Median :0.00000
 Mean   : 3.498     Mean   :0.1446   Mean   :0.2381   Mean   :0.02127
 3rd Qu.: 4.000     3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.00000
 Max.   :10.000     Max.   :1.0000   Max.   :1.0000   Max.   :1.00000
    sales              salary
 Length:14999       Length:14999
 Class :character   Class :character
 Mode  :character   Mode  :character

In [3]:
hrdata %>%
    mutate(
    accident = case_when(
        Work_accident == 1 ~ "Yes",
        TRUE ~ "No"
        ),
    departed = case_when(
        left == 1 ~ "Yes",
        TRUE ~ "No"
        ),
    promoted = case_when(
        promotion_last_5years == 1 ~ "Yes",
        TRUE ~ "No"
        )
    ) -> hrdata

hrdata %>%
    group_by(accident) %>%
    tally()

hrdata %>%
    group_by(departed) %>%
    tally()

hrdata %>%
    group_by(promoted) %>%
    tally()

  accident n
1 No       12830
2 Yes       2169

  departed n
1 No       11428
2 Yes       3571

  promoted n
1 No       14680
2 Yes        319

(c) Now retain only employees who left the company, and had not been promoted in the last five years. Save this result as `hr01`

In [4]:
hrdata %>%
    filter(departed == "Yes", promoted == "No") -> hr01

summary(hr01)

 satisfaction_level last_evaluation  number_project average_montly_hours
 Min.   :0.09       Min.   :0.4500   Min.   :2.00   Min.   :126.0
 1st Qu.:0.12       1st Qu.:0.5200   1st Qu.:2.00   1st Qu.:146.0
 Median :0.41       Median :0.7900   Median :4.00   Median :224.5
 Mean   :0.44       Mean   :0.7188   Mean   :3.86   Mean   :207.6
 3rd Qu.:0.73       3rd Qu.:0.9000   3rd Qu.:6.00   3rd Qu.:262.0
 Max.   :0.92       Max.   :1.0000   Max.   :7.00   Max.   :310.0
 time_spend_company Work_accident          left   promotion_last_5years
 Min.   :2.00       Min.   :0.00000   Min.   :1   Min.   :0
 1st Qu.:3.00       1st Qu.:0.00000   1st Qu.:1   1st Qu.:0
 Median :4.00       Median :0.00000   Median :1   Median :0
 Mean   :3.88       Mean   :0.04645   Mean   :1   Mean   :0
 3rd Qu.:5.00       3rd Qu.:0.00000   3rd Qu.:1   3rd Qu.:0
 Max.   :6.00       Max.   :1.00000   Max.   :1   Max.   :0
    sales              salary            accident           departed
 Length:3552        Length:3552        Length:3552        Length:3552
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



   promoted
 Length:3552
 Class :character
 Mode  :character

(d) In this `hr01` data-set, how many employees do you have per sales department? What sales department has the most number of employees?

In [5]:
hr01 %>%
    group_by(sales) %>%
    tally()

# sales has the most number of employees

   sales       n
1  IT           270
2  RandD        121
3  accounting   204
4  hr           215
5  management    88
6  marketing    203
7  product_mng  198
8  sales       1007
9  support      552
10 technical    694

(e) By sales department, calculate mean and standard deviation of (i) satisfaction_level, and (ii) last_evaluation.

In [6]:
hr01 %>%
    group_by(sales) %>%
    summarize(
        mean.satisfaction = mean(satisfaction_level, na.rm = TRUE),
        sd.satisfaction = sd(satisfaction_level, na.rm = TRUE),
        mean.evaluation = mean(last_evaluation, na.rm = TRUE),
        sd.evaluation = sd(last_evaluation, na.rm = TRUE)
    )

   sales       mean.satisfaction sd.satisfaction mean.evaluation sd.evaluation
1  IT          0.4114074         0.2725105       0.7327778       0.1932583
2  RandD       0.4328099         0.2822299       0.7453719       0.1935417
3  accounting  0.4025980         0.2569768       0.6945098       0.1988991
4  hr          0.4333953         0.2430897       0.6797209       0.1968749
5  management  0.4103409         0.2659809       0.7319318       0.2035764
6  marketing   0.4531527         0.2491966       0.6920197       0.1995524
7  product_mng 0.4815657         0.2640356       0.7265657       0.2033185
8  sales       0.4473486         0.2590022       0.7123039       0.1983968
9  support     0.4511232         0.2643943       0.7282246       0.1923353
10 technical   0.4339193         0.2756552       0.7338905       0.1978386

(f) What department has the lowest mean satisfaction? Which department has the highest variation in satisfaction?

Accounting has the lowest mean satisfaction level. RandD has the highest variation in satisfaction. 

(g) Create a new variable that groups `average_montly_hours` into 4 groups. You can let the group cut-points be chosen automatically with `chop_evenly()`. Then show the frequencies of each group.

In [7]:
install.packages('santoku')

Installing package into ‘/Users/ruhil/Library/R/arm64/4.3/library’
(as ‘lib’ is unspecified)

The downloaded binary packages are in
	/var/folders/qh/6q39v0755_54rxmbl8m5ttnwy0twd7/T//RtmpoVzqQv/downloaded_packages

In [8]:
library(santoku)

hrdata %>%
    mutate(
    hours_grouped = chop_evenly(average_montly_hours, 4)
    ) -> hrdata

hrdata %>%
    group_by(hours_grouped) %>%
    tally()

Attaching package: ‘santoku’


The following object is masked from ‘package:tidyr’:

    chop

  hours_grouped n
1 [96, 149.5)   2945
2 [149.5, 203)  4745
3 [203, 256.5)  4707
4 [256.5, 310]  2602

## Exercise 02
Thanks to the frenetic work of many individuals, the global spread of the Novel Coronavirus (COVID-19) has been tracked and the data made available for analysis. [Yanchang Zhao](https://rdatamining.wordpress.com/2020/03/10/coronavirus-data-analysis-with-r-tidyverse-and-ggplot2/) is one such individual and for this exercise we will use a spcific version of his data that I have named `cvdata.RData` is available in the `data` folder. Read it in via the `load()` command. We can then answer a few questions. Note the contents: 

+ `country =` name of the country 
+ `date =` date of incidents as recorded 
+ `confirmed =` cumulative count of the number of people who tested positive  
+ `deaths =` cumulative count of the number of people lost to Covid-19 
+ `deaths =` cumulative count of the number of people recovered

In [9]:
load("data/cvdata.RData")

names(cvdata)

[1] "country"   "date"      "confirmed" "deaths"    "recovered"

(a) Filter the data-set so that we have only one row per country, the data from March 10, 2020 and call it `cv0310`.

In [10]:
head(cvdata)

cvdata %>%
    filter(date == "2020-03-10") -> cv0310

head(cv0310)

  country     date       confirmed deaths recovered
1 Afghanistan 2020-01-22 0         0      0
2 Afghanistan 2020-01-23 0         0      0
3 Afghanistan 2020-01-24 0         0      0
4 Afghanistan 2020-01-25 0         0      0
5 Afghanistan 2020-01-26 0         0      0
6 Afghanistan 2020-01-27 0         0      0

  country     date       confirmed deaths recovered
1 Afghanistan 2020-03-10  5        0      0
2 Albania     2020-03-10 10        0      0
3 Algeria     2020-03-10 20        0      0
4 Andorra     2020-03-10  1        0      0
5 Argentina   2020-03-10 17        1      0
6 Armenia     2020-03-10  1        0      0

(b) How many countries have lost `at least one` person to this tragedy? "Others" should not show up as one of the countries.

In [11]:
cv0310 %>%
    filter(country != "Others") %>%
    mutate(
        lostany = case_when(
            deaths >= 1 ~ "Yes",
            TRUE ~ "No"
        )
    ) %>%
    group_by(lostany) %>%
    tally()

  lostany n
1 No      90
2 Yes     24

24 countries have lost at least 1 person

(c) What 10 countries have had the most number of confirmed cases? "Others" should not show up as one of the countries. Also ensure the result is organized in descending order of the number of confirmed cases.

In [12]:
cv0310 %>%
    filter(country != "Others") %>%
    arrange(-confirmed) %>%
    top_n(10)

Selecting by recovered

   country                    date       confirmed deaths recovered
1  Mainland China             2020-03-10 80757     3136   60106
2  Italy                      2020-03-10 10149      631     724
3  Iran (Islamic Republic of) 2020-03-10  8042      291    2731
4  Republic of Korea          2020-03-10  7513       54     247
5  Spain                      2020-03-10  1695       35      32
6  Japan                      2020-03-10   581       10     101
7  Singapore                  2020-03-10   160        0      78
8  Malaysia                   2020-03-10   129        0      24
9  Hong Kong SAR              2020-03-10   120        3      65
10 Thailand                   2020-03-10    53        1      33

(d) Calculate the `fatality_rate`, defined for our purposes as the percent of deaths. excluding "Others", and only keeping countries that have had `at least 10` confirmed cases, arrange the result to show the top-10 countries in descending order of `fatality_rate`.

In [13]:
cv0310 %>%
    filter(country != "Others", confirmed >= 10) %>%
    mutate(
        fatality_rate = (deaths/confirmed) * 100
    ) %>%
    arrange(-fatality_rate) %>%
    top_n(10)

Selecting by fatality_rate

   country                    date       confirmed deaths recovered
1  Iraq                       2020-03-10    71        7       3
2  Italy                      2020-03-10 10149      631     724
3  Argentina                  2020-03-10    17        1       0
4  San Marino                 2020-03-10    51        2       0
5  Mainland China             2020-03-10 80757     3136   60106
6  Iran (Islamic Republic of) 2020-03-10  8042      291    2731
7  US                         2020-03-10  1670       56      15
8  Philippines                2020-03-10    33        1       2
9  Australia                  2020-03-10   107        3      21
10 Hong Kong SAR              2020-03-10   120        3      65
   fatality_rate
1  9.859155
2  6.217361
3  5.882353
4  3.921569
5  3.883255
6  3.618503
7  3.353293
8  3.030303
9  2.803738
10 2.500000

(e) Say we only want to focus on the Baltic countries (Estonia, Latvia, and Lithuania) as a unified group and compare this group to the ASEAN nations (Brunei, Cambodia, Indonesia, Laos, Malaysia, Myanmar, Philippines, Singapore, Thailand, and Vietnam). Use `cv0310` to complete the followng tasks: 

(i) Create a new variable called `region` that only takes on two values -- "Baltic" if the country is a Baltic country and "Asean" if the country is an ASEAN country. 

(ii) Use this variable to calculate the total number of confirmed cases in each region.

In [14]:
cv0310 %>%
    filter(
        country %in% c("Estonia", "Latvia", "Lithuania", "Brunei", "Cambodia", 
                       "Indonesia", "Laos", "Malaysia", "Myanmar", "Philippines",
                       "Singapore", "Thailand", "Vietnam")
        ) %>%
    mutate(
        region = case_when(
            country %in% c("Estonia", "Latvia", "Lithuania") ~ "Baltic",
            TRUE ~ "No"
        )
    ) -> cv0310

In [15]:
cv0310 %>%
    group_by(region) %>%
    summarize(sum(confirmed))

  region sum(confirmed)
1 Baltic  21
2 No     405