# Exercises for Practice

## Exercise 01

Using the `cmhflights` data from last week, create a column that unites the three columns `Year`, `Month`, and `DayofMonth` into a single column that we will name `date_of_flight`. This column should separate the three fields by "-", as in, for example, `2017-1-9`.

In [3]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [26]:
load("data/cmhflights_01092017.RData")
ls()

[1] "cmh"          "cmhflights"   "cmhflights02" "wdf"          "wdf_wide"
[6] "weather"

In [27]:
cmhflights %>%
    select(
        Year, Month, DayofMonth, OriginCityName, DestCityName
    ) -> cmh

head(cmh)

  Year Month DayofMonth OriginCityName  DestCityName
1 2017 1     1          Los Angeles, CA Columbus, OH
2 2017 1     2          Los Angeles, CA Columbus, OH
3 2017 1     3          Los Angeles, CA Columbus, OH
4 2017 1     4          Los Angeles, CA Columbus, OH
5 2017 1     5          Los Angeles, CA Columbus, OH
6 2017 1     6          Los Angeles, CA Columbus, OH

In [28]:
cmh %>%
    unite(
        col = "date_of_flight",
        c("Year", "Month", "DayofMonth"),
        sep = "-",
        remove = FALSE
    ) -> cmh

In [29]:
cmh %>%
    head()

  date_of_flight Year Month DayofMonth OriginCityName  DestCityName
1 2017-1-1       2017 1     1          Los Angeles, CA Columbus, OH
2 2017-1-2       2017 1     2          Los Angeles, CA Columbus, OH
3 2017-1-3       2017 1     3          Los Angeles, CA Columbus, OH
4 2017-1-4       2017 1     4          Los Angeles, CA Columbus, OH
5 2017-1-5       2017 1     5          Los Angeles, CA Columbus, OH
6 2017-1-6       2017 1     6          Los Angeles, CA Columbus, OH

## Exercise 02

Sticking with `cmhflights`, separate `OriginCityName` into two new columns, `origin_city` and `origin_state`. Do the same for `DestCityName`, calling the new columns `destination_city` and `destination_state`, respectively. Both city columns should only display the name of the city, while both state columns should only display the abbreviated state name (for example, "CA", "OH", etc.)

In [30]:
cmh %>%
    separate(
        col = OriginCityName,
        into = c("origin_city", "origin_state"),
        sep = ", ",
        remove = FALSE
        ) %>%
    separate(
        col = DestCityName,
        into = c("destination_city", "destination_state"),
        sep = ", ",
        remove = FALSE
        ) -> cmh

In [31]:
cmh %>%
    head()

  date_of_flight Year Month DayofMonth OriginCityName  origin_city origin_state
1 2017-1-1       2017 1     1          Los Angeles, CA Los Angeles CA
2 2017-1-2       2017 1     2          Los Angeles, CA Los Angeles CA
3 2017-1-3       2017 1     3          Los Angeles, CA Los Angeles CA
4 2017-1-4       2017 1     4          Los Angeles, CA Los Angeles CA
5 2017-1-5       2017 1     5          Los Angeles, CA Los Angeles CA
6 2017-1-6       2017 1     6          Los Angeles, CA Los Angeles CA
  DestCityName destination_city destination_state
1 Columbus, OH Columbus         OH
2 Columbus, OH Columbus         OH
3 Columbus, OH Columbus         OH
4 Columbus, OH Columbus         OH
5 Columbus, OH Columbus         OH
6 Columbus, OH Columbus         OH

## Exercise 03

Tidy the `weather` data such that the resulting data-set, called `wdf`, has the `days` (the d1-d31 columns) as rows and `TMIN` and `TMAX` as columns.

In [16]:
read.delim(
 file = "http://stat405.had.co.nz/data/weather.txt",
 stringsAsFactors = FALSE
 ) -> weather

weather

   id          year month element d1  d2  d3  d4  d5  d6  ⋯ d22 d23 d24 d25 d26
1  MX000017004 2010  1    TMAX     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
2  MX000017004 2010  1    TMIN     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
3  MX000017004 2010  2    TMAX     NA 273 241  NA  NA  NA ⋯ NA  299 NA   NA  NA
4  MX000017004 2010  2    TMIN     NA 144 144  NA  NA  NA ⋯ NA  107 NA   NA  NA
5  MX000017004 2010  3    TMAX     NA  NA  NA  NA 321  NA ⋯ NA   NA NA   NA  NA
6  MX000017004 2010  3    TMIN     NA  NA  NA  NA 142  NA ⋯ NA   NA NA   NA  NA
7  MX000017004 2010  4    TMAX     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
8  MX000017004 2010  4    TMIN     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
9  MX000017004 2010  5    TMAX     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
10 MX000017004 2010  5    TMIN     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
11 MX000017004 2010  6    TMAX     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
12 MX000017004 2010  6    TMIN     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
13 MX000017004 2010  7    TMAX     NA  NA 286  NA  NA  NA ⋯ NA   NA NA   NA  NA
14 MX000017004 2010  7    TMIN     NA  NA 175  NA  NA  NA ⋯ NA   NA NA   NA  NA
15 MX000017004 2010  8    TMAX     NA  NA  NA  NA 296  NA ⋯ NA  264 NA  297  NA
16 MX000017004 2010  8    TMIN     NA  NA  NA  NA 158  NA ⋯ NA  150 NA  156  NA
17 MX000017004 2010 10    TMAX     NA  NA  NA  NA 270  NA ⋯ NA   NA NA   NA  NA
18 MX000017004 2010 10    TMIN     NA  NA  NA  NA 140  NA ⋯ NA   NA NA   NA  NA
19 MX000017004 2010 11    TMAX     NA 313  NA 272 263  NA ⋯ NA   NA NA   NA 281
20 MX000017004 2010 11    TMIN     NA 163  NA 120  79  NA ⋯ NA   NA NA   NA 121
21 MX000017004 2010 12    TMAX    299  NA  NA  NA  NA 278 ⋯ NA   NA NA   NA  NA
22 MX000017004 2010 12    TMIN    138  NA  NA  NA  NA 105 ⋯ NA   NA NA   NA  NA
   d27 d28 d29 d30 d31
1   NA  NA  NA 278  NA
2   NA  NA  NA 145  NA
3   NA  NA  NA  NA  NA
4   NA  NA  NA  NA  NA
5   NA  NA  NA  NA  NA
6   NA  NA  NA  NA  NA
7  363  NA  NA  NA  NA
8  167  NA  NA  NA  NA
9  332  NA  NA  NA  NA
10 182  NA  NA  NA  NA
11  NA  NA 301  NA  NA
12  NA  NA 180  NA  NA
13  NA  NA  NA  NA  NA
14  NA  NA  NA  NA  NA
15  NA  NA 280  NA 254
16  NA  NA 153  NA 154
17  NA 312  NA  NA  NA
18  NA 150  NA  NA  NA
19 277  NA  NA  NA  NA
20 142  NA  NA  NA  NA
21  NA  NA  NA  NA  NA
22  NA  NA  NA  NA  NA

The end result should be as shown below:

| id          | date     | TMIN | TMAX |
| :--         | :--      | :--  | :--  |
| MX000017004 | 2010-1-1 | NA   | NA   |
| MX000017004 | 2010-1-2 | NA   | NA   |
| MX000017004 | 2010-1-3 | NA   | NA   |
| MX000017004 | 2010-1-4 | NA   | NA   |

In [17]:
weather %>%
    group_by(id, year, month, element) %>%
    pivot_longer(
        names_to = "day",
        values_to = "temperature",
        col = 5:35
    ) -> wdf

In [18]:
head(wdf)

  id          year month element day temperature
1 MX000017004 2010 1     TMAX    d1  NA
2 MX000017004 2010 1     TMAX    d2  NA
3 MX000017004 2010 1     TMAX    d3  NA
4 MX000017004 2010 1     TMAX    d4  NA
5 MX000017004 2010 1     TMAX    d5  NA
6 MX000017004 2010 1     TMAX    d6  NA

In [8]:
wdf %>%
    mutate(
        day = stringr::str_remove_all(day, "d")
        ) %>%
    unite(
        col = "date",
        c("year", "month", "day"),
        sep = "-"
        ) -> wdf

In [19]:
library(stringr)

In [20]:
wdf %>%
    mutate(
        day = str_remove_all(day, "d")
        ) %>%
    unite(
        col = "date",
        c("year", "month", "day"),
        sep = "-"
        ) -> wdf

In [26]:
wdf %>%
    mutate(
    new_element = str_remove_all(element, "T")
    ) %>%
    ungroup() %>%
    select(-element) -> wdf

In [27]:
head(wdf)

  id          date     temperature new_element
1 MX000017004 2010-1-1 NA          MAX
2 MX000017004 2010-1-2 NA          MAX
3 MX000017004 2010-1-3 NA          MAX
4 MX000017004 2010-1-4 NA          MAX
5 MX000017004 2010-1-5 NA          MAX
6 MX000017004 2010-1-6 NA          MAX

In [10]:
tail(wdf)

  id          date       element temperature
1 MX000017004 2010-12-26 TMIN    NA
2 MX000017004 2010-12-27 TMIN    NA
3 MX000017004 2010-12-28 TMIN    NA
4 MX000017004 2010-12-29 TMIN    NA
5 MX000017004 2010-12-30 TMIN    NA
6 MX000017004 2010-12-31 TMIN    NA

In [11]:
wdf %>%
    group_by(id, date) %>%
    pivot_wider(
        names_from = element,
        values_from = temperature
     ) -> wdf_wide

In [12]:
head(wdf_wide)

  id          date     TMAX TMIN
1 MX000017004 2010-1-1 NA   NA
2 MX000017004 2010-1-2 NA   NA
3 MX000017004 2010-1-3 NA   NA
4 MX000017004 2010-1-4 NA   NA
5 MX000017004 2010-1-5 NA   NA
6 MX000017004 2010-1-6 NA   NA

In [13]:
tail(wdf_wide)

  id          date       TMAX TMIN
1 MX000017004 2010-12-26 NA   NA
2 MX000017004 2010-12-27 NA   NA
3 MX000017004 2010-12-28 NA   NA
4 MX000017004 2010-12-29 NA   NA
5 MX000017004 2010-12-30 NA   NA
6 MX000017004 2010-12-31 NA   NA

In [14]:
wdf_wide

    id          date       TMAX TMIN
1   MX000017004 2010-1-1    NA   NA
2   MX000017004 2010-1-2    NA   NA
3   MX000017004 2010-1-3    NA   NA
4   MX000017004 2010-1-4    NA   NA
5   MX000017004 2010-1-5    NA   NA
6   MX000017004 2010-1-6    NA   NA
7   MX000017004 2010-1-7    NA   NA
8   MX000017004 2010-1-8    NA   NA
9   MX000017004 2010-1-9    NA   NA
10  MX000017004 2010-1-10   NA   NA
11  MX000017004 2010-1-11   NA   NA
12  MX000017004 2010-1-12   NA   NA
13  MX000017004 2010-1-13   NA   NA
14  MX000017004 2010-1-14   NA   NA
15  MX000017004 2010-1-15   NA   NA
16  MX000017004 2010-1-16   NA   NA
17  MX000017004 2010-1-17   NA   NA
18  MX000017004 2010-1-18   NA   NA
19  MX000017004 2010-1-19   NA   NA
20  MX000017004 2010-1-20   NA   NA
21  MX000017004 2010-1-21   NA   NA
22  MX000017004 2010-1-22   NA   NA
23  MX000017004 2010-1-23   NA   NA
24  MX000017004 2010-1-24   NA   NA
25  MX000017004 2010-1-25   NA   NA
26  MX000017004 2010-1-26   NA   NA
27  MX000017004 2010-1-27   NA   NA
28  MX000017004 2010-1-28   NA   NA
29  MX000017004 2010-1-29   NA   NA
30  MX000017004 2010-1-30  278  145
⋮   ⋮           ⋮          ⋮    ⋮
312 MX000017004 2010-12-2   NA   NA
313 MX000017004 2010-12-3   NA   NA
314 MX000017004 2010-12-4   NA   NA
315 MX000017004 2010-12-5   NA   NA
316 MX000017004 2010-12-6  278  105
317 MX000017004 2010-12-7   NA   NA
318 MX000017004 2010-12-8   NA   NA
319 MX000017004 2010-12-9   NA   NA
320 MX000017004 2010-12-10  NA   NA
321 MX000017004 2010-12-11  NA   NA
322 MX000017004 2010-12-12  NA   NA
323 MX000017004 2010-12-13  NA   NA
324 MX000017004 2010-12-14  NA   NA
325 MX000017004 2010-12-15  NA   NA
326 MX000017004 2010-12-16  NA   NA
327 MX000017004 2010-12-17  NA   NA
328 MX000017004 2010-12-18  NA   NA
329 MX000017004 2010-12-19  NA   NA
330 MX000017004 2010-12-20  NA   NA
331 MX000017004 2010-12-21  NA   NA
332 MX000017004 2010-12-22  NA   NA
333 MX000017004 2010-12-23  NA   NA
334 MX000017004 2010-12-24  NA   NA
335 MX000017004 2010-12-25  NA   NA
336 MX000017004 2010-12-26  NA   NA
337 MX000017004 2010-12-27  NA   NA
338 MX000017004 2010-12-28  NA   NA
339 MX000017004 2010-12-29  NA   NA
340 MX000017004 2010-12-30  NA   NA
341 MX000017004 2010-12-31  NA   NA

Just for fun, chaining it all together ...

In [15]:
read.delim(
    file = "http://stat405.had.co.nz/data/weather.txt",
    stringsAsFactors = FALSE
    ) %>%
    group_by(id, year, month, element) %>%
    pivot_longer(
        names_to = "day",
        values_to = "temperature",
        col = 5:35
    ) %>%
    mutate(
        day = stringr::str_remove_all(day, "d")
        ) %>%
    unite(
        col = "date",
        c("year", "month", "day"),
        sep = "-"
        ) %>%
    group_by(id, date) %>%
    pivot_wider(
        names_from = element,
        values_from = temperature
     ) -> wdf_wide

head(wdf_wide)

  id          date     TMAX TMIN
1 MX000017004 2010-1-1 NA   NA
2 MX000017004 2010-1-2 NA   NA
3 MX000017004 2010-1-3 NA   NA
4 MX000017004 2010-1-4 NA   NA
5 MX000017004 2010-1-5 NA   NA
6 MX000017004 2010-1-6 NA   NA