# Exercises for Practice

## Exercise 01 

The data below come from [tidytuesday](https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-09-10) and provide information on accidents at theme parks. You can see more of these [data available here](https://ridesdatabase.org/saferparks/data/). The data give you some details of where and when the accident occurred, and something about the injured party as well.

In [1]:
library(readr)

read_csv(
    "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-09-10/saferparks.csv"
    ) -> safer_parks

Rows: 8351 Columns: 23

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (17): acc_date, acc_state, acc_city, fix_port, source, bus_type, industr...
dbl  (6): acc_id, num_injured, age_youngest, mechanical, op_error, employee


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

|variable             |class     |description |
|:--------------------|:---------|:-----------|
|acc_id               |double    | Unique ID |
|acc_date             |character | Accident Date |
|acc_state            |character | Accident State |
|acc_city             |character | Accident City |
|fix_port             |character |.           |
|source               |character | Source of injury report |
|bus_type             |character | Business type |
|industry_sector      |character | Industry sector |
|device_category      |character | Device category |
|device_type          |character | Device type |
|tradename_or_generic |character | Common name of the device |
|manufacturer         |character | Manufacturer of device |
|num_injured          |double    | Num injured |
|age_youngest         |double    | Youngest individual injured |
|gender               |character | Gender of individual injured |
|acc_desc             |character | Description of accident |
|injury_desc          |character | Injury description |
|report               |character | Report URL |
|category             |character | Category of accident |
|mechanical           |double    | Mechanical failure (binary NA/1) |
|op_error             |double    | Operator error (binary NA/1)|
|employee             |double    | Employee error (binary NA/1)|
|notes                |character | Additional notes| 

Working with the `safer_parks` data, complete the following tasks.

### Problem (a)
Using `acc_date`, create a new date variable called `idate` that is a proper date column generated via ``{lubridate}``.

In [2]:
library(tidyverse)
library(lubridate)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ dplyr   1.0.7
✔ tibble  3.1.6     ✔ stringr 1.4.0
✔ tidyr   1.1.4     ✔ forcats 0.5.1
✔ purrr   0.3.4

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [3]:
head(safer_parks)

  acc_id  acc_date  acc_state acc_city        fix_port
1 1005813 6/12/2010 OH        Cleveland       F
2 1004032 6/12/2010 OH        Cleveland       P
3 1007658 7/10/2010 CA        Anaheim         F
4 1007098 7/10/2010 CA        Carlsbad        F
5 1000094 7/29/2010 CO        Littleton       F
6 1005756 7/30/2010 WI        Wisconsin Dells F
  source
1 Ohio Dept. of Agriculture
2 United States Consumer Product Safety Commission
3 California Division of Occupational Safety and Health
4 California Division of Occupational Safety and Health
5 Colorado Division of Oil and Public Safety
6 Wisconsin Dept. of Commerce, Safety and Building Division
  bus_type                      industry_sector device_category
1 Sports or recreation facility recreation      inflatable
2 Sports or recreation facility recreation      inflatable
3 Amusement park                amusement ride  water ride
4 Water park                    water park      float attraction
5 Family entertainment center   recreation      challenge activity
6 Amusement park                recreation      challenge activity
  device_type      ⋯ age_youngest gender
1 Inflatable slide ⋯ NA           NA
2 Inflatable slide ⋯ 54           M
3 Boat ride        ⋯ 37           F
4 Lazy river       ⋯ 37           F
5 Climbing wall    ⋯ NA           M
6 Freefall         ⋯ 12           F
  acc_desc
1 Inflatable slide tipped over while 7-9 patrons on top of it. The slide fell on a man standing next to it, causing several fractures to his back, and minor injuries to several children. The accident was caused by allowing too many patrons on the device and operating it in an usafe manner. &nbsp;The insurance company had solicited volunteers from their employees to staff the device in return for free tickets to the ball game.
2 Two adult males were standing next to an inflatable slide when it tipped over on top of them. &nbsp;One man suffered a fractured vertebrae and died later from complications. The other sustained head and back injuries. &nbsp;Six children who were on the slide sustained minor injuries. &nbsp;The investigation revealed the slide tipped over because there were too many children on one side and the slide was not properly anchored. &nbsp;Volunteers were acting as attendants for the amusement device. &nbsp;There were 7-9 children on the slide when it fell over.
3 Patron stated she slipped and fell while stepping into the boat, causing right hip and low back pain. Then made a late report stating torn meniscus in her knee.
4 Patron claims strained back after her raft tipped. Husband reported the injury six months later.
5 Two patrons climbed to the top of the wall, counted to three and jumped of the wall in unison. The auto-belay failed for one patron.
6 Rider was released by the ride operator before the net was raised and airbag inflated, causing her to freefall 100 feet to the ground. According to a criminal complaint, the operator at the top of the ride was supposed to watch for an all-clear signal from the operator at the bottom who inflates the air bag that catches patrons more than 100 feet below. Investigators say the airbag meant to catch Marti was not inflated yet, and that the cage at the top of the ride was stopped before it reached the top. Carnell told investigators he didn't look for a signal at the bottom of the ride before he let Marti loose. He told investigators he &quot;totally blanked.&quot;
  injury_desc
1 The man who was crushed by the device died 9 days later of complications from his injuries. 2 children were transported to the ER, and 6 children were treated at the scene.
2 1 - death from pulmonary embolism caused by blunt force trauma; 1 - head and back injuries; 6 children had cuts, bruises, back and ear pain.
3 Hip and low back pain, torn meniscus in knee
4 Strained back
5 Patron experienced a free fall that resulted in three broken bones in foot.
6 Med-flighted to hospital: skull fracture; multiple severe fractures to back and pelvise; lacerated spleen, liver, intestines
  report
1 https://saferparksdata.org/sites/default/files/accident_reports/OH-2010-06-12.pdf
2 https://saferparksdata.org/sites/default/files/accident_reports/CPSC-OH-2010-06-12.pdf
3 NA
4 NA
5 https://saferparksdata.org/sites/default/files/accident_reports/CO-2010-07-29.pdf
6 NA
  category                                       mechanical op_error employee
1 Device tipped over, blew away, or collapsed    NA          1       NA
2 Device tipped over, blew away, or collapsed    NA          1       NA
3 Load/Unload: scrape or stumble                 NA         NA       NA
4 Fall: patron fell off inner tube, mat or board NA         NA       NA
5 Fall: patron fell from device (participatory)   1         NA       NA
6 Fall: ejection/fall from ride                  NA          1       NA
  notes
1 http://www.cleveland.com/metro/index.ssf/2012/10/cleveland_indians_settle_wrong.html\nhref="http://www.cleveland.com/metro/index.ssf/2012/10/cleveland_indians_settle_wrong.html">http://www.cleveland.com/metro/index.ssf/2012/10/cleveland_indians_settle_wrong.html</a></div>
2 See also OH state record.
3 NA
4 NA
5 NA
6 https://www.cbsnews.com/news/park-ride-victims-father-she-was-dead/, http://www.nhregister.com/news/article/Miracle-girl-survives-fall-from-Terminal-11612562.php, http://www.wkow.com/global/story.asp?s=13003233\nhref="https://www.cbsnews.com/news/park-ride-victims-father-she-was-dead/">https://www.cbsnews.com/news/park-ride-victims-father-she-was-dead/</a>, <a\nhref="http://www.nhregister.com/news/article/Miracle-girl-survives-fall-from-Terminal-11612562.php">http://www.nhregister.com/news/article/Miracle-girl-survives-fall-from-Terminal-11612562.php</a>, <a\nhref="http://www.wkow.com/global/story.asp?s=13003233">http://www.wkow.com/global/story.asp?s=13003233</a></div>

In [4]:
safer_parks %>%
    mutate(
        idate = mdy(acc_date)
    ) -> safer_parks

head(safer_parks$idate)

[1] "2010-06-12" "2010-06-12" "2010-07-10" "2010-07-10" "2010-07-29"
[6] "2010-07-30"

### Problem (b)
Now create new columns for (i) the month of the accident, and (ii) the day of the week. These should not be abbreviated (i.e., we should see the values as 'Monday' instead of 'Mon', "July" instead of "Jul"). 

What month had the highest number of accidents? 

What day of the week had the highest number of accidents?

In [5]:
safer_parks %>%
    mutate(
        month = month(idate, label = TRUE, abbr = FALSE),
        day = wday(idate, label = TRUE, abbr = FALSE) 
    ) -> safer_parks

In [6]:
head(safer_parks)

  acc_id  acc_date  acc_state acc_city        fix_port
1 1005813 6/12/2010 OH        Cleveland       F
2 1004032 6/12/2010 OH        Cleveland       P
3 1007658 7/10/2010 CA        Anaheim         F
4 1007098 7/10/2010 CA        Carlsbad        F
5 1000094 7/29/2010 CO        Littleton       F
6 1005756 7/30/2010 WI        Wisconsin Dells F
  source
1 Ohio Dept. of Agriculture
2 United States Consumer Product Safety Commission
3 California Division of Occupational Safety and Health
4 California Division of Occupational Safety and Health
5 Colorado Division of Oil and Public Safety
6 Wisconsin Dept. of Commerce, Safety and Building Division
  bus_type                      industry_sector device_category
1 Sports or recreation facility recreation      inflatable
2 Sports or recreation facility recreation      inflatable
3 Amusement park                amusement ride  water ride
4 Water park                    water park      float attraction
5 Family entertainment center   recreation      challenge activity
6 Amusement park                recreation      challenge activity
  device_type      ⋯
1 Inflatable slide ⋯
2 Inflatable slide ⋯
3 Boat ride        ⋯
4 Lazy river       ⋯
5 Climbing wall    ⋯
6 Freefall         ⋯
  injury_desc
1 The man who was crushed by the device died 9 days later of complications from his injuries. 2 children were transported to the ER, and 6 children were treated at the scene.
2 1 - death from pulmonary embolism caused by blunt force trauma; 1 - head and back injuries; 6 children had cuts, bruises, back and ear pain.
3 Hip and low back pain, torn meniscus in knee
4 Strained back
5 Patron experienced a free fall that resulted in three broken bones in foot.
6 Med-flighted to hospital: skull fracture; multiple severe fractures to back and pelvise; lacerated spleen, liver, intestines
  report
1 https://saferparksdata.org/sites/default/files/accident_reports/OH-2010-06-12.pdf
2 https://saferparksdata.org/sites/default/files/accident_reports/CPSC-OH-2010-06-12.pdf
3 NA
4 NA
5 https://saferparksdata.org/sites/default/files/accident_reports/CO-2010-07-29.pdf
6 NA
  category                                       mechanical op_error employee
1 Device tipped over, blew away, or collapsed    NA          1       NA
2 Device tipped over, blew away, or collapsed    NA          1       NA
3 Load/Unload: scrape or stumble                 NA         NA       NA
4 Fall: patron fell off inner tube, mat or board NA         NA       NA
5 Fall: patron fell from device (participatory)   1         NA       NA
6 Fall: ejection/fall from ride                  NA          1       NA
  notes
1 http://www.cleveland.com/metro/index.ssf/2012/10/cleveland_indians_settle_wrong.html\nhref="http://www.cleveland.com/metro/index.ssf/2012/10/cleveland_indians_settle_wrong.html">http://www.cleveland.com/metro/index.ssf/2012/10/cleveland_indians_settle_wrong.html</a></div>
2 See also OH state record.
3 NA
4 NA
5 NA
6 https://www.cbsnews.com/news/park-ride-victims-father-she-was-dead/, http://www.nhregister.com/news/article/Miracle-girl-survives-fall-from-Terminal-11612562.php, http://www.wkow.com/global/story.asp?s=13003233\nhref="https://www.cbsnews.com/news/park-ride-victims-father-she-was-dead/">https://www.cbsnews.com/news/park-ride-victims-father-she-was-dead/</a>, <a\nhref="http://www.nhregister.com/news/article/Miracle-girl-survives-fall-from-Terminal-11612562.php">http://www.nhregister.com/news/article/Miracle-girl-survives-fall-from-Terminal-11612562.php</a>, <a\nhref="http://www.wkow.com/global/story.asp?s=13003233">http://www.wkow.com/global/story.asp?s=13003233</a></div>
  idate      month day
1 2010-06-12 June  Saturday
2 2010-06-12 June  Saturday
3 2010-07-10 July  Saturday
4 2010-07-10 July  Saturday
5 2010-07-29 July  Thursday
6 2010-07-30 July  Friday

In [7]:
# July had the most accidents 

safer_parks %>%
    group_by(month) %>%
    tally() %>%
    arrange(-n)

   month     n
1  July      1702
2  August    1448
3  June      1322
4  May        706
5  September  575
6  March      493
7  April      484
8  October    461
9  December   320
10 November   302
11 February   281
12 January    257

In [8]:
# Saturdays had the most accidents

safer_parks %>%
    group_by(day) %>%
    tally() %>%
    arrange(-n)

  day       n
1 Saturday  2070
2 Sunday    1633
3 Friday    1128
4 Monday     985
5 Thursday   926
6 Wednesday  830
7 Tuesday    779

### Problem (c)
What if you look at days of the week by month? Does the same day of the week show up with the most accidents regardless of month or do we see some variation?

In [9]:
# Saturdays are most common days for April, May, June, July, August, September, and October 

safer_parks %>%
    group_by(month, day) %>%
    tally() %>%
    arrange(-n)

   month     day       n
1  July      Saturday  330
2  August    Saturday  328
3  June      Saturday  316
4  July      Sunday    287
5  August    Sunday    259
6  July      Friday    251
7  July      Thursday  218
8  June      Sunday    217
9  July      Monday    216
10 July      Wednesday 203
11 July      Tuesday   197
12 May       Saturday  195
13 September Saturday  193
14 August    Monday    191
15 August    Friday    190
16 June      Friday    176
17 August    Wednesday 171
18 June      Monday    166
19 August    Thursday  164
20 June      Thursday  162
21 May       Sunday    155
22 April     Saturday  149
23 September Sunday    149
24 August    Tuesday   145
25 June      Wednesday 143
26 June      Tuesday   142
27 March     Saturday  130
28 October   Saturday  126
29 October   Sunday    120
30 May       Friday    106
⋮  ⋮         ⋮         ⋮
55 May       Tuesday   48
56 October   Thursday  45
57 April     Wednesday 42
58 December  Monday    42
59 October   Monday    41
60 October   Wednesday 40
61 January   Friday    39
62 December  Thursday  39
63 December  Tuesday   38
64 March     Monday    36
65 April     Monday    36
66 October   Tuesday   36
67 December  Friday    36
68 January   Monday    35
69 April     Tuesday   35
70 February  Friday    34
71 December  Wednesday 32
72 November  Tuesday   28
73 February  Thursday  27
74 January   Thursday  26
75 November  Thursday  26
76 February  Monday    25
77 November  Monday    25
78 November  Wednesday 25
79 September Wednesday 24
80 February  Tuesday   20
81 September Tuesday   20
82 February  Wednesday 19
83 January   Tuesday   16
84 January   Wednesday 16

### Problem (d)
What were the `five` dates with the most number of accidents?

In [10]:
safer_parks %>%
    group_by(idate) %>%
    tally() %>%
    arrange(-n) %>%
    top_n(., 10)

Selecting by n

   idate      n
1  2014-08-16 23
2  2012-07-21 22
3  2015-07-11 21
4  2015-06-13 20
5  2015-06-14 20
6  2015-07-19 20
7  2016-08-06 20
8  2014-06-14 19
9  2015-07-13 19
10 2016-08-27 19

### Problem (e)
Using the Texas injury data, answer the following question: What ride was the safest? [Hint: For each ride (`ride_name`) you will need to calculate the number of days between accidents. The ride with the highest number of days is the safest.]

In [11]:
read_csv(
  "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-09-10/tx_injuries.csv"
  ) -> tx_injuries

Rows: 542 Columns: 13

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (12): name_of_operation, city, st, injury_date, ride_name, serial_no, ge...
dbl  (1): injury_report_rec


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.


|variable          |class     |description |
|:-----------------|:---------|:-----------|
|injury_report_rec |double    | Unique Record ID |
|name_of_operation |character | Company name |
|city              |character | City |
|st                |character | State (all TX) |
|injury_date       |character | Injury date - note there are some different formats |
|ride_name         |character | Ride Name |
|serial_no         |character | Serial number of ride |
|gender            |character | Gender of the injured individual |
|age               |character | Age of the injured individual |
|body_part         |character | Body part injured |
|alleged_injury    |character | Alleged injury - type of injury |
|cause_of_injury   |character | Approximate cause of the injury (free text) |
|other             |character | Anecdotal information in addition to cause of injury |

You should note that this assumes each ride was in operation for the same amount of time. If this is not true then our estimates will be unreliable.

In [12]:
tx_injuries %>%
  mutate(date = mdy(injury_date)) %>%
  group_by(ride_name) %>%
  arrange(date) %>%
  mutate(
    tspan = interval(lag(date, order_by = ride_name), date),
    tspan.days = as.duration(tspan)/ddays(1)
  ) %>%
  select(date, ride_name, tspan, tspan.days) %>%
  arrange(-tspan.days)

Warning message:
“ 349 failed to parse.”

    date       ride_name            tspan                          tspan.days
1   2015-04-16 iFly Austin          2013-09-14 UTC--2015-04-16 UTC 579
2   2014-07-26 Batman               2013-05-27 UTC--2014-07-26 UTC 425
3   2014-08-25 Coyote Cannon        2013-07-07 UTC--2014-08-25 UTC 414
4   2014-09-07 Tsunami Surge        2013-07-28 UTC--2014-09-07 UTC 406
5   2014-07-25 Howlin' Tornado      2013-06-30 UTC--2014-07-25 UTC 390
6   2014-08-31 Stingray Falls       2013-08-10 UTC--2014-08-31 UTC 386
7   2014-07-04 Cliffhanger          2013-07-07 UTC--2014-07-04 UTC 362
8   2014-05-16 Go Karts             2013-06-04 UTC--2014-05-16 UTC 346
9   2014-06-17 Mr. Freeze           2013-07-18 UTC--2014-06-17 UTC 334
10  2014-07-22 Dragon Blaster       2013-08-31 UTC--2014-07-22 UTC 325
11  2014-05-03 Titan                2013-06-25 UTC--2014-05-03 UTC 312
12  2014-05-04 Texas Giant          2013-07-19 UTC--2014-05-04 UTC 289
13  2014-05-10 Aquaman              2013-08-15 UTC--2014-05-10 UTC 268
14  2014-05-24 Master Blaster       2013-08-30 UTC--2014-05-24 UTC 267
15  2015-05-16 Tsunami Surge        2014-09-07 UTC--2015-05-16 UTC 251
16  2014-07-30 Go-Karts             2013-12-08 UTC--2014-07-30 UTC 234
17  2014-01-19 Slick Trax           2013-07-28 UTC--2014-01-19 UTC 175
18  2015-01-14 Howlin' Tornado      2014-07-25 UTC--2015-01-14 UTC 173
19  2013-12-08 Go-Karts             2013-06-30 UTC--2013-12-08 UTC 161
20  2015-01-26 Coyote Cannon        2014-08-25 UTC--2015-01-26 UTC 154
21  2013-08-28 iFly Austin          2013-03-28 UTC--2013-08-28 UTC 153
22  2013-06-25 Titan                2013-03-15 UTC--2013-06-25 UTC 102
23  2013-08-31 Dragon Blaster       2013-06-05 UTC--2013-08-31 UTC  87
24  2013-05-12 Howlin Tornado       2013-03-03 UTC--2013-05-12 UTC  70
25  2013-06-04 Go Karts             2013-03-30 UTC--2013-06-04 UTC  66
26  2013-08-10 Banzi                2013-06-06 UTC--2013-08-10 UTC  65
27  2013-04-14 I Fly                2013-02-12 UTC--2013-04-14 UTC  61
28  2014-07-21 The Rush             2014-05-21 UTC--2014-07-21 UTC  61
29  2013-08-21 Treehouse            2013-06-24 UTC--2013-08-21 UTC  58
30  2014-07-07 Aquaman              2014-05-10 UTC--2014-07-07 UTC  58
⋮   ⋮          ⋮                    ⋮                              ⋮
513 <NA>       Carousel             NA--NA                         NA
514 <NA>       Soda Straws          NA--NA                         NA
515 <NA>       Big Splash Log Ride  NA--NA                         NA
516 <NA>       The Gully Washer     NA--NA                         NA
517 <NA>       Gaze Force           NA--NA                         NA
518 <NA>       Seablaster           NA--NA                         NA
519 <NA>       Seablaster           NA--NA                         NA
520 <NA>       Massiv               NA--NA                         NA
521 <NA>       Walhalla Wave        NA--NA                         NA
522 <NA>       The Gully Washer     NA--NA                         NA
523 <NA>       Larson Loop (Grant)  NA--NA                         NA
524 <NA>       Skyride              NA--NA                         NA
525 <NA>       N/A                  NA--NA                         NA
526 <NA>       Skyride              NA--NA                         NA
527 <NA>       The Lone Star Racers NA--NA                         NA
528 <NA>       The Boar Buster      NA--NA                         NA
529 <NA>       Boogie Bath          NA--NA                         NA
530 <NA>       Howlin' Tornado      NA--NA                         NA
531 <NA>       Bonzai               NA--NA                         NA
532 <NA>       Bonzai               NA--NA                         NA
533 <NA>       Dragon's Revenge     NA--NA                         NA
534 <NA>       Cedar Rock Railroad  NA--NA                         NA
535 <NA>       Cedar Rock Railroad  NA--NA                         NA
536 <NA>       Mr. Freeze           NA--NA                         NA
537 <NA>       Wind Tunnel          NA--NA                         NA
538 <NA>       Catwoman's Whip      NA--NA                         NA
539 <NA>       Wind Tunnel          NA--NA                         NA
540 <NA>       Wind Tunnel          NA--NA                         NA
541 <NA>       Wind Tunnel          NA--NA                         NA
542 <NA>       Wind Tunnel          NA--NA                         NA

## Exercise 02
These data (see below) come from this story: [The next generation: The space race is dominated by new contenders](https://www.economist.com/graphic-detail/2018/10/18/the-space-race-is-dominated-by-new-contenders). You have data on space missions over time, with dates of the launch, the launching agency/country, type of launch vehicle, and so on. 


| variable    | definition                               |
| ----------- | ---------------------------------------- |
| tag         | Harvard or [COSPAR][cospar] id of launch |
| JD          | [Julian Date][jd] of launch              |
| launch_date | date of launch                           |
| launch_year | year of launch                           |
| type        | type of launch vehicle                   |
| variant     | variant of launch vehicle                |
| mission     | space mission                            |
| agency      | launching agency                         |
| state_code  | launching agency's state                 |
| category    | success (O) or failure (F)               |
| agency_type | type of agency                           |

In [13]:
read_csv(
  "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-01-15/launches.csv"
  ) -> launches

Rows: 5726 Columns: 11

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): tag, type, variant, mission, agency, state_code, category, agency_...
dbl  (2): JD, launch_year
date (1): launch_date


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

### Problem (a) 
Create a new column called `date` that stores `launch_date` as a proper data field in ymd format from {lubridate}.

In [14]:
launches %>%
  mutate(
      date = ymd(launch_date)
  ) -> lau.df

In [15]:
lau.df %>%
    select(date) %>%
    head()

  date
1 1967-06-29
2 1967-08-23
3 1967-10-11
4 1968-05-23
5 1968-10-23
6 1969-07-23

### Problem (b) 
Creating columns as needed, calculate and show the number of launches first by year, then by month, and then by day of the week. The result should be arranged in descending order of the number of launches.

In [16]:
lau.df %>%
  mutate(
    year = year(date),
    month = month(date, abbr = FALSE, label = TRUE),
    day = day(date),
    dow = wday(date, abbr = FALSE, label = TRUE)
  ) -> lau.df

In [17]:
lau.df %>%
  filter(!is.na(year)) %>%
  count(year, sort = TRUE)

   year n
1  1967 139
2  1971 134
3  1975 132
4  1966 131
5  1976 131
6  1977 130
7  1982 129
8  1983 129
9  1984 129
10 1968 128
11 1978 128
12 1981 126
13 1985 125
14 1969 124
15 1965 123
16 1970 122
17 1988 121
18 1990 121
19 1973 114
20 1972 113
21 1974 113
22 1987 113
23 1986 110
24 1979 109
25 1980 107
26 1989 102
27 1964  99
28 1992  97
29 1994  93
30 1991  91
⋮  ⋮    ⋮
34 2016 85
35 2015 84
36 1993 83
37 2000 83
38 1998 82
39 1962 80
40 2011 80
41 1995 79
42 2018 79
43 2013 78
44 1996 77
45 1999 77
46 2009 77
47 2012 76
48 2010 71
49 1963 67
50 2008 67
51 2006 65
52 2007 65
53 2002 64
54 2003 62
55 2001 58
56 2005 55
57 2004 53
58 1961 50
59 1960 37
60 1959 22
61 1958 21
62 1957  3
63 2918  1

In [18]:
lau.df %>%
  filter(!is.na(month)) %>%
  count(month, sort = TRUE)

   month     n
1  December  579
2  June      524
3  October   523
4  September 511
5  April     504
6  August    495
7  July      466
8  May       460
9  March     447
10 November  435
11 February  429
12 January   340

In [19]:
lau.df %>%
  filter(!is.na(day)) %>%
  count(day, sort = TRUE)

   day n
1  28  248
2  25  227
3  24  217
4  14  213
5  21  211
6  15  210
7  26  208
8  16  206
9  20  205
10 18  204
11 27  203
12 17  198
13 22  195
14 19  191
15  5  189
16 12  188
17 23  188
18 29  185
19 11  179
20  8  173
21  3  169
22  6  168
23 10  168
24 30  167
25  9  165
26  4  159
27  7  157
28  2  153
29  1  138
30 13  136
31 31   95

In [20]:
lau.df %>%
  filter(!is.na(dow)) %>%
  count(dow, sort = TRUE)

  dow       n
1 Thursday  1112
2 Wednesday 1102
3 Friday    1030
4 Tuesday    971
5 Saturday   618
6 Monday     534
7 Sunday     346

### Problem (c) 
How many launches were successful `(O)` versus failed `(F)` by country and year? The countries of interest will be state_code values of "CN", "F", "J", "RU", "SU", "US". You do not need to arrange your results in any order.

In [21]:
lau.df %>%
  filter(
    !is.na(date),
    state_code %in% c("CN", "F", "J", "RU", "SU", "US")
    ) %>%
  count(state_code, year, category)

    state_code year category n
1   CN         1970 O        1
2   CN         1971 O        1
3   CN         1973 F        1
4   CN         1974 F        2
5   CN         1975 O        3
6   CN         1976 F        1
7   CN         1976 O        2
8   CN         1978 O        1
9   CN         1979 F        1
10  CN         1981 O        1
11  CN         1982 O        1
12  CN         1983 O        1
13  CN         1984 O        3
14  CN         1985 O        1
15  CN         1986 O        2
16  CN         1987 O        2
17  CN         1988 O        4
18  CN         1990 O        5
19  CN         1991 O        1
20  CN         1992 O        4
21  CN         1993 O        1
22  CN         1994 O        5
23  CN         1995 F        1
24  CN         1995 O        2
25  CN         1996 F        1
26  CN         1996 O        3
27  CN         1997 O        6
28  CN         1998 O        6
29  CN         1999 O        4
30  CN         2000 O        5
⋮   ⋮          ⋮    ⋮        ⋮
341 US         1999 F         1
342 US         1999 O        30
343 US         2000 O        29
344 US         2001 O        23
345 US         2002 O        18
346 US         2003 O        26
347 US         2004 O        19
348 US         2005 O        16
349 US         2006 F         1
350 US         2006 O        22
351 US         2007 F         2
352 US         2007 O        18
353 US         2008 F         1
354 US         2008 O        19
355 US         2009 F         1
356 US         2009 O        24
357 US         2010 O        15
358 US         2011 F         1
359 US         2011 O        18
360 US         2012 O        16
361 US         2013 F         1
362 US         2013 O        19
363 US         2014 F         1
364 US         2014 O        23
365 US         2015 F         2
366 US         2015 O        18
367 US         2016 O        22
368 US         2017 F         1
369 US         2017 O        29
370 US         2018 O        27