In [2]:
library(haven)

read_dta("http://www.stata.com/data/jwooldridge/eacsap/mroz.dta") -> mroz

In [3]:
summary(mroz)

      inlf            hours           kidslt6          kidsge6
 Min.   :0.0000   Min.   :   0.0   Min.   :0.0000   Min.   :0.000
 1st Qu.:0.0000   1st Qu.:   0.0   1st Qu.:0.0000   1st Qu.:0.000
 Median :1.0000   Median : 288.0   Median :0.0000   Median :1.000
 Mean   :0.5684   Mean   : 740.6   Mean   :0.2377   Mean   :1.353
 3rd Qu.:1.0000   3rd Qu.:1516.0   3rd Qu.:0.0000   3rd Qu.:2.000
 Max.   :1.0000   Max.   :4950.0   Max.   :3.0000   Max.   :8.000

      age             educ            wage           repwage         hushrs
 Min.   :30.00   Min.   : 5.00   Min.   : 0.000   Min.   :0.00   Min.   : 175
 1st Qu.:36.00   1st Qu.:12.00   1st Qu.: 0.000   1st Qu.:0.00   1st Qu.:1928
 Median :43.00   Median :12.00   Median : 1.625   Median :0.00   Median :2164
 Mean   :42.54   Mean   :12.29   Mean   : 2.375   Mean   :1.85   Mean   :2267
 3rd Qu.:49.00   3rd Qu.:13.00   3rd Qu.: 3.788   3rd Qu.:3.58   3rd Qu.:2553
 Max.   :60.00   Max.   :17.00   Max.   :25.000   Max.   :9.98   Max.   :5010

     husage         huseduc         huswage            faminc
 Min.   :30.00   Min.   : 3.00   Min.   : 0.4121   Min.   : 1500
 1st Qu.:38.00   1st Qu.:11.00   1st Qu.: 4.7883   1st Qu.:15428
 Median :46.00   Median :12.00   Median : 6.9758   Median :20880
 Mean   :45.12   Mean   :12.49   Mean   : 7.4822   Mean   :23081
 3rd Qu.:52.00   3rd Qu.:15.00   3rd Qu.: 9.1667   3rd Qu.:28200
 Max.   :60.00   Max.   :17.00   Max.   :40.5090   Max.   :96000

      mtr            motheduc         fatheduc           unem
 Min.   :0.4415   Min.   : 0.000   Min.   : 0.000   Min.   : 3.000
 1st Qu.:0.6215   1st Qu.: 7.000   1st Qu.: 7.000   1st Qu.: 7.500
 Median :0.6915   Median :10.000   Median : 7.000   Median : 7.500
 Mean   :0.6789   Mean   : 9.251   Mean   : 8.809   Mean   : 8.624
 3rd Qu.:0.7215   3rd Qu.:12.000   3rd Qu.:12.000   3rd Qu.:11.000
 Max.   :0.9415   Max.   :17.000   Max.   :17.000   Max.   :14.000

      city            exper          nwifeinc            lwage
 Min.   :0.0000   Min.   : 0.00   Min.   :-0.02906   Min.   :-2.0542
 1st Qu.:0.0000   1st Qu.: 4.00   1st Qu.:13.02504   1st Qu.: 0.8165
 Median :1.0000   Median : 9.00   Median :17.70000   Median : 1.2476
 Mean   :0.6428   Mean   :10.63   Mean   :20.12896   Mean   : 1.1902
 3rd Qu.:1.0000   3rd Qu.:15.00   3rd Qu.:24.46600   3rd Qu.: 1.6036
 Max.   :1.0000   Max.   :45.00   Max.   :96.00000   Max.   : 3.2189
                                                     NA's   :325
    expersq
 Min.   :   0
 1st Qu.:  16
 Median :  81
 Mean   : 178
 3rd Qu.: 225
 Max.   :2025

In [4]:
head(mroz)

  inlf hours kidslt6 kidsge6 age educ wage   repwage hushrs husage ⋯ faminc
1 1    1610  1       0       32  12   3.3540 2.65    2708   34     ⋯ 16310
2 1    1656  0       2       30  12   1.3889 2.65    2310   30     ⋯ 21800
3 1    1980  1       3       35  12   4.5455 4.04    3072   40     ⋯ 21040
4 1     456  0       3       34  12   1.0965 3.25    1920   53     ⋯  7300
5 1    1568  1       2       31  14   4.5918 3.60    2000   32     ⋯ 27300
6 1    2032  0       0       54  12   4.7421 4.70    1040   57     ⋯ 19495
  mtr    motheduc fatheduc unem city exper nwifeinc  lwage      expersq
1 0.7215 12        7        5.0 0    14    10.910060 1.21015370  196
2 0.6615  7        7       11.0 1     5    19.499981 0.32851210   25
3 0.6915 12        7        5.0 0    15    12.039910 1.51413774  225
4 0.7815  7        7        5.0 0     6     6.799996 0.09212332   36
5 0.6215 12       14        9.5 1     7    20.100058 1.52427220   49
6 0.6915 14        7        7.5 1    33     9.859054 1.55648005 1089

In [5]:
read_sav("http://calcnet.mth.cmich.edu/org/spss/V16_materials/DataSets_v16/airline_passengers.sav") -> airline_passengers

In [6]:
summary(airline_passengers)

     number
 Min.   :104.0
 1st Qu.:180.0
 Median :265.5
 Mean   :280.3
 3rd Qu.:360.5
 Max.   :622.0

In [7]:
head(airline_passengers)

  number
1 112
2 118
3 132
4 129
5 121
6 135