# Task 03

Build out this notebook by creating Code cells that include commands to complete the following tasks.

## Problem 01

Tidy the `gapw.df` data saved by the code chunk below.

In [1]:
library(tidyverse)

read_csv(
    'https://raw.githubusercontent.com/OHI-Science/data-science-training/master/data/gapminder_wide.csv'
    ) -> gapw.df 

save(gapw.df, file = "data/gapw.df.RData")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Rows: 142 Columns: 38

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): continent, country
dbl (36): gdpPercap_1952, gdpPercap_1957, gdpPercap_1962, gdpPercap_1967, gd...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

The end result should be a tidy data-frame, called `gapw.df.tidy` that looks like this:

# A tibble: 1,704 x 6
# Groups:   continent, country [142]
   continent country year  gdpPercap lifeExp      pop
   <chr>     <chr>   <chr>     <dbl>   <dbl>    <dbl>
 1 Africa    Algeria 1952      2449.    43.1  9279525
 2 Africa    Algeria 1957      3014.    45.7 10270856
 3 Africa    Algeria 1962      2551.    48.3 11000948
 4 Africa    Algeria 1967      3247.    51.4 12760499
 5 Africa    Algeria 1972      4183.    54.5 14760787
 6 Africa    Algeria 1977      4910.    58.0 17152804
 7 Africa    Algeria 1982      5745.    61.4 20033753
 8 Africa    Algeria 1987      5681.    65.8 23254956
 9 Africa    Algeria 1992      5023.    67.7 26298373
10 Africa    Algeria 1997      4797.    69.2 29072015
# … with 1,694 more rows

In [3]:
dim(gapw.df)

[1] 142  38

In [6]:
gapw.df %>%
  group_by(country) %>%
  pivot_longer(
    names_to = "variable",
    values_to = "values",
    cols = 3:38
  ) -> gapw.df.long

In [5]:
head(gapw.df.long)

  continent country year1          gdpPercap
1 Africa    Algeria gdpPercap_1952 2449.008
2 Africa    Algeria gdpPercap_1957 3013.976
3 Africa    Algeria gdpPercap_1962 2550.817
4 Africa    Algeria gdpPercap_1967 3246.992
5 Africa    Algeria gdpPercap_1972 4182.664
6 Africa    Algeria gdpPercap_1977 4910.417

In [7]:
gapw.df.long %>%
    separate(
        variable,
        into = c("measure", "year"),
        sep = "_",
    remove = TRUE
    ) -> gapw.df.long.2

In [8]:
head(gapw.df.long.2)

  continent country measure   year values
1 Africa    Algeria gdpPercap 1952 2449.008
2 Africa    Algeria gdpPercap 1957 3013.976
3 Africa    Algeria gdpPercap 1962 2550.817
4 Africa    Algeria gdpPercap 1967 3246.992
5 Africa    Algeria gdpPercap 1972 4182.664
6 Africa    Algeria gdpPercap 1977 4910.417

In [9]:
gapw.df.long.2 %>%
    group_by(continent, country, year) %>%
    pivot_wider(
        names_from = measure,
        values_from = values
    ) -> gapw.df.wide

In [10]:
head(gapw.df.wide)

  continent country year gdpPercap lifeExp pop
1 Africa    Algeria 1952 2449.008  43.077   9279525
2 Africa    Algeria 1957 3013.976  45.685  10270856
3 Africa    Algeria 1962 2550.817  48.303  11000948
4 Africa    Algeria 1967 3246.992  51.407  12760499
5 Africa    Algeria 1972 4182.664  54.518  14760787
6 Africa    Algeria 1977 4910.417  58.014  17152804

## Problem 02

Download these data from the World bank’s World Development Indicators and Climate Change Knowledge Portal: http://databank.worldbank.org/data/download/catalog/climate_change_download_0.xls on climate systems, exposure to climate impacts, resilience, greenhouse gas emissions, and energy use. 

The data need to be tidied up such that for every country you have one row per year and then columns for each of the `58 measures` (called `Series name` in the database). You can drop the columns called `Country code`, `Series code`, `SCALE`, and `Decimals`.

In [1]:
load("data/climate_change.RData")

In [2]:
head(climate_change)

  Country code Country name         Series code
1 ABW          Aruba                AG.LND.EL5M.ZS
2 ADO          Andorra              AG.LND.EL5M.ZS
3 AFG          Afghanistan          AG.LND.EL5M.ZS
4 AGO          Angola               AG.LND.EL5M.ZS
5 ALB          Albania              AG.LND.EL5M.ZS
6 ARE          United Arab Emirates AG.LND.EL5M.ZS
  Series name                         SCALE Decimals 1990                1991
1 Land area below 5m (% of land area) 0     1        29.574809999999999  ..
2 Land area below 5m (% of land area) 0     1        0                   ..
3 Land area below 5m (% of land area) 0     1        0                   ..
4 Land area below 5m (% of land area) 0     1        0.20823459999999999 ..
5 Land area below 5m (% of land area) 0     1        4.9678750000000003  ..
6 Land area below 5m (% of land area) 0     1        4.6445150000000002  ..
  1992 1993 ⋯ 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
1 ..   ..   ⋯ ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
2 ..   ..   ⋯ ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
3 ..   ..   ⋯ ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
4 ..   ..   ⋯ ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
5 ..   ..   ⋯ ..   ..   ..   ..   ..   ..   ..   ..   ..   ..
6 ..   ..   ⋯ ..   ..   ..   ..   ..   ..   ..   ..   ..   ..

The result should look like this:

# A tibble: 5,126 x 60
# Groups:   Country name [233]
   `Country name` year  `Land area belo… `Agricultural l… `Cereal yield (…
   <chr>          <chr> <chr>            <chr>            <chr>           
 1 Aruba          1990  29.574809999999… ..               ..              
 2 Aruba          1991  ..               ..               ..              
 3 Aruba          1992  ..               ..               ..              
 4 Aruba          1993  ..               ..               ..              
 5 Aruba          1994  ..               ..               ..              
 6 Aruba          1995  ..               ..               ..              
 7 Aruba          1996  ..               ..               ..              
 8 Aruba          1997  ..               ..               ..              
 9 Aruba          1998  ..               ..               ..              
10 Aruba          1999  ..               ..               ..              
# … with 5,116 more rows, and 55 more variables: `Foreign direct investment, net

In [3]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [4]:
climate_change %>%
    select(2, 4, 7:28) %>%
    dim()

[1] 13512    24

In [5]:
climate_change %>%
    select(2, 4, 7:28) %>%
    group_by(`Country name`, `Series name`) %>%
    pivot_longer(
        names_to = "year",
        values_to = "values",
        cols = 3:24
        ) -> climate

In [6]:
head(climate)

  Country name Series name                         year values
1 Aruba        Land area below 5m (% of land area) 1990 29.574809999999999
2 Aruba        Land area below 5m (% of land area) 1991 ..
3 Aruba        Land area below 5m (% of land area) 1992 ..
4 Aruba        Land area below 5m (% of land area) 1993 ..
5 Aruba        Land area below 5m (% of land area) 1994 ..
6 Aruba        Land area below 5m (% of land area) 1995 ..

In [8]:
climate %>%
    group_by(`Country name`, year) %>%
     pivot_wider(
        names_from = `Series name`,
        values_from = values
        ) -> climate.wide

In [9]:
head(climate.wide)

  Country name year Land area below 5m (% of land area)
1 Aruba        1990 29.574809999999999
2 Aruba        1991 ..
3 Aruba        1992 ..
4 Aruba        1993 ..
5 Aruba        1994 ..
6 Aruba        1995 ..
  Agricultural land under irrigation (% of total ag. land)
1 ..
2 ..
3 ..
4 ..
5 ..
6 ..
  Cereal yield (kg per hectare)
1 ..
2 ..
3 ..
4 ..
5 ..
6 ..
  Foreign direct investment, net inflows (% of GDP)
1 ..
2 21.185138149876099
3 -3.85780877569572
4 -1.65549243203914
5 -5.8744389996589197
6 -0.41878171697459099
  Access to electricity (% of total population)
1 ..
2 ..
3 ..
4 ..
5 ..
6 ..
  Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)
1 ..
2 ..
3 ..
4 ..
5 ..
6 ..
  Energy use per capita (kilograms of oil equivalent)
1 ..
2 ..
3 ..
4 ..
5 ..
6 ..
  CO2 emissions, total (KtCO2) ⋯ Nurses and midwives (per 1,000 people)
1 1840.8340000000001           ⋯ ..
2 1928.8420000000001           ⋯ ..
3 1723.49                      ⋯ ..
4 1771.1610000000001           ⋯ ..
5 1763.827                     ⋯ ..
6 1785.829                     ⋯ ..
  Physicians (per 1,000 people) Malaria incidence rate (per 100,000 people)
1 ..                            ..
2 ..                            ..
3 ..                            ..
4 ..                            ..
5 ..                            ..
6 1.1200000000000001            ..
  Access to improved sanitation (% of total pop.)
1 ..
2 ..
3 ..
4 ..
5 ..
6 ..
  Child malnutrition, underweight (% of under age 5)
1 ..
2 ..
3 ..
4 ..
5 ..
6 ..
  Population living below $1.25 a day (% of total) Population growth (annual %)
1 ..                                               1.8202543606399799
2 ..                                               3.93618078503351
3 ..                                               5.48404131995588
4 ..                                               6.0888184304233199
5 ..                                               5.6116774205129101
6 ..                                               4.5346279806342196
  Population Urban population growth (annual %) Urban population
1 62147      1.78050083199081                   31259.940999999999
2 64642      3.33797361727876                   32321
3 68286      4.8822340873995804                 33938.142
4 72573      5.4833675395526997                 35851.061999999998
5 76762      5.00253848117271                   37690.142
6 80323      3.9217557864968802                 39197.624000000003