# Task 03

Build out this notebook by creating Code cells that include commands to complete the following tasks.

## Problem 01

Tidy the `gapw.df` data saved by the code chunk below.

In [4]:
library(tidyverse)

read_csv(
    'https://raw.githubusercontent.com/OHI-Science/data-science-training/master/data/gapminder_wide.csv'
    ) -> gapw.df 

save(gapw.df, file = "data/gapw.df.RData")

Rows: 142 Columns: 38

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): continent, country
dbl (36): gdpPercap_1952, gdpPercap_1957, gdpPercap_1962, gdpPercap_1967, gd...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

The end result should be a tidy data-frame, called `gapw.df.tidy` that looks like this:

# A tibble: 1,704 x 6
# Groups:   continent, country [142]
   continent country year  gdpPercap lifeExp      pop
   <chr>     <chr>   <chr>     <dbl>   <dbl>    <dbl>
 1 Africa    Algeria 1952      2449.    43.1  9279525
 2 Africa    Algeria 1957      3014.    45.7 10270856
 3 Africa    Algeria 1962      2551.    48.3 11000948
 4 Africa    Algeria 1967      3247.    51.4 12760499
 5 Africa    Algeria 1972      4183.    54.5 14760787
 6 Africa    Algeria 1977      4910.    58.0 17152804
 7 Africa    Algeria 1982      5745.    61.4 20033753
 8 Africa    Algeria 1987      5681.    65.8 23254956
 9 Africa    Algeria 1992      5023.    67.7 26298373
10 Africa    Algeria 1997      4797.    69.2 29072015
# … with 1,694 more rows

## Problem 02

Download these data from the World bank’s World Development Indicators and Climate Change Knowledge Portal: http://databank.worldbank.org/data/download/catalog/climate_change_download_0.xls on climate systems, exposure to climate impacts, resilience, greenhouse gas emissions, and energy use. 

The data need to be tidied up such that for every country you have one row per year and then columns for each of the `58 measures` (called `Series name` in the database). You can drop the columns called `Country code`, `Series code`, `SCALE`, and `Decimals`.

The result should look like this:

# A tibble: 5,126 x 60
# Groups:   Country name [233]
   `Country name` year  `Land area belo… `Agricultural l… `Cereal yield (…
   <chr>          <chr> <chr>            <chr>            <chr>           
 1 Aruba          1990  29.574809999999… ..               ..              
 2 Aruba          1991  ..               ..               ..              
 3 Aruba          1992  ..               ..               ..              
 4 Aruba          1993  ..               ..               ..              
 5 Aruba          1994  ..               ..               ..              
 6 Aruba          1995  ..               ..               ..              
 7 Aruba          1996  ..               ..               ..              
 8 Aruba          1997  ..               ..               ..              
 9 Aruba          1998  ..               ..               ..              
10 Aruba          1999  ..               ..               ..              
# … with 5,116 more rows, and 55 more variables: `Foreign direct investment, net